body{
	/*background-image:url("https://s3.amazonaws.com/poly-screenshots.angel.co/Project/10/346783/511f7af96bcb6ad5cca437cb6dd471c6-original.png");*/
	background-color:#7aa528;
	background-repeat:no-repeat;
	position:relative;
	height:100%;
}

.alphabet{
	font-size:300%;
	letter-spacing:4px;
	background-color:orange;
	padding: 20px 0 20px 0;
	text-align:center;
	width:101%;
}
.gameTitle{
	-webkit-transform: rotate(-20deg);

	/* Firefox */
	-moz-transform: rotate(20deg);

	/* IE */
	-ms-transform: rotate(20deg);

	/* Opera */
	-o-transform: rotate(20deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	background-image:url('/Users/TonyFacchini/GitHub/Hangman-Game/assets/images/southpark-logo.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-color:#7aa528;
	border:dashed 3px orange;
	padding:5px;
	margin-left: 20px;
	width:18%;
	height:208px;
	align-content: center;
	color:black;
	font-weight:bold;
	font-size:250%;
	overflow:auto;
	position:relative;
	margin-right:0;
	left:109px;
	top:342px;
}
.gameTitle h1{
	height:10%;
	position:absolute;
	font:400 1.2em/99% 'Sunshiney', Helvetica, Sans-serif;
	bottom:55px;
	left:0;
	text-align:center;
}
.userInput{
	background-color:black;
	color:white;
	font:400 2.5em/99% 'Sunshiney', Helvetica, Sans-serif;
	/*font: 400 3.5em/125% 'Sunshiney', Helvetica, Sans-serif;*/
	color: white;
	width:120px;
	/*left:150px;
	top:150px;*/
	position:relative;
}
.buttons button{
	background-color:black;
	color:white;
	font:400 2em/99% 'Sunshiney', Helvetica, Sans-serif;
}
.startButton{
	background-color:black;
	color:white;
	font:400 2em/99% 'Sunshiney', Helvetica, Sans-serif;
	width:100px;
	left:107px;
	top:170px;
	position:relative;
}
.resetButton{
	width:100px;
	left:115px;
	top:170px;
	position:relative;
}
.gameplayArea{
	border:2px solid white;
	width:720px;
	height:450px;
	margin:45px 0 0 90px;
	float:left;
}
#remaining{
	color:white;
}
span{
	border-bottom:solid 2px white;
	color:black;		
	display:inline-block;
	letter-spacing:4px;
	padding:5px;
	margin-right:5px;
}
.show{
	color:white;
	font-size:200%;
}
#underscoreBox{
	border:solid 2px white;
	padding:10px;
	width:30%;
}











